header {
  background-color: var(--blue-900);
  color: var(--white);
  border-bottom: 5px solid var(--pink-500);
  padding: 2rem 0;
  box-shadow: 0 4px 2px -2px gray;
}

header > div {
  align-items: center;
  justify-content: space-between;
}

header h1 {
  text-align: center;
}

.main__nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.main__nav div {
  flex: 1;
  font-size: 1.5rem;
  text-align: center;
}

.main__nav a:hover {
  color: var(--orange-300);
  opacity: 1;
}

@media (max-width: 767px) {
  header h1 {
    margin-bottom: 1rem;
  }
}
